@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #212140;
}

.content{
    height: 100vh;
    color: white;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.icon{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    color: #212140;
    font-size: 3rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    text-decoration: none;
    cursor: none;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

p{
    letter-spacing: 1px;
    margin-top: 1rem;
}

.update{
    color: rgba(255, 255, 255, 0.5);
}