@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #212140;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40));
    background-position: center;
    background-size: center;
    position: relative;
    overflow: hidden;
}

.navbar{
    width: 100%;
    padding: 20px 3% 10px 3%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background: transparent;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
  background-color: #212140;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.logo{
    width: 160px;
    margin-top: -10px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px 10px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
    transition: 0.5s;
    position: relative;
    padding-bottom: 5px;

}

.navbar ul li a::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #8C52FF;
    transition: width 0.4s ease;
    transform: translateX(-50%);
}


.navbar ul li a:hover::after{
    width: 100%;
}

.navbar ul li a:hover{
    color: #8C52FF;
}

.btn3{
    width: 130px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    border-radius: 40px;
    color: white;
    background-color: #8C52FF;
    border: 4px solid #8C52FF;
    box-shadow: 0 0 10px #8C52FF;
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

.btn3:hover{
    transform: scale(1.1) translateY(-5px);
}


.content{
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}

.content h1{
    margin-top: 80px;
    font-size: 110px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
    transition: 0.5s ease;
    display: inline-block;
}

.content p{
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}

.btn1, .btn2{
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    border-radius: 40px;
    text-decoration: none;
}

.btn1{
    background-color: #8C52FF;
    border: 4px solid #8C52FF;
    box-shadow: 0 0 10px #8C52FF;
    color: white;
    transition: 0.5s;
}

.btn1:hover{
    transform: scale(1.1) translateY(-5px);
}

.btn2{
    color: #8C52FF;
    background-color: white;
    border: 4px solid white;
    box-shadow: none;
    transition: 0.5s;
}

.btn2:hover{
    background-color: #8C52FF;
    border: 4px solid #8C52FF;
    color: white;
    box-shadow: 0 0 10px #8C52FF;
}

.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9){
    .banner video{
        width: 100%;
        height: auto;
    }
}

.services{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.heading h1{
    color: white;
    font-size: 3.5rem;
    font-weight: 600;
}

.heading p{
    color: white;
    font-size: 1.2rem;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 7%;
}

.card1, .card2, .card3{
    height: 20rem;
    width: 20rem;
    border-radius: 15px;
    text-align: center;
    padding: 2rem;
    color: white;
}

.cards a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
    transition: 0.3s ease;
    color: #212140;
    text-decoration: none;
    margin-bottom: 2rem;
}

.card1{
    background-color: #17B7A7;
    transition: 0.5s ease;
}

.card1 a{
    background-color: #DBFCF4;
    border: 0.2rem solid #DBFCF4;
}

.card2{
    background-color: #FA7217;
    transition: 0.5s ease;
}

.card2 a{
    background-color: #FFF0DF;
    border: 0.2rem solid #FFF0DF;
}

.card3{
    background-color: #A855F7;
    transition: 0.5s ease;
}

.card3 a{
    background-color: #F5EAFE;
    border: 0.2rem solid #F5EAFE;
}

.cards h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.card1:hover, .card2:hover, .card3:hover{
    transform: scale(1.1) translateY(-5px);
}

.about {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem;
    gap: 6rem;
    padding: 3rem 4rem;
    /* background-color: #17B7A7; */
}

.about img{
    width: 35%;
    border-radius: 10px;
}

.about .write-up-wrapper{
    width: 50%;
    text-align: justify;
}

.about h1 {
    font-size: clamp(3rem, 5vw, 4rem);
    font-weight: 600;
}

.mission{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 4rem;

}

.mission-text{
    width: 40%;
    height: auto;
    text-align: center;
    color: white;
    padding: 2rem 3rem;
    line-height: 1.8;
}

.mission-text h1{
    font-weight: 600;
    font-size: 3rem;
}

.mission-img{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    gap: 15px;
}

.mission-img img{
    width: calc(50% - 15PX);
    height: auto;
    object-fit: cover;
}

.test{
    color: white;
    text-align: center;
    padding: 3rem 2rem;
}

.test h1{
    font-size: 3rem;
    font-weight: 600;
}

.test-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
}

.test-content{
    height: 17rem;
    width: 25rem;
    border-radius: 4%;
    text-align: center;
    padding: 2rem;
    background-color: #2e2e52;
    text-align: left;
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.test-content:hover{
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  transform: translateY(-5px);
}

.test-intro{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    margin-bottom: 2rem;
}

.test-intro img{
    width: 30%;
    border-radius: 50%;
}

.test p{
    line-height: 1.6rem;
}

footer{
    color: white;
    font-size: smaller;
    margin-top: 4rem;
    background-color: #8C52FF;
    padding: 2rem 1rem;
    position: relative;
}

.foot-wrapper{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    width: 90%;
    margin: auto;
    padding: 1rem 2rem;
}

.foot-wrapper img{
    width: 160px;
    margin-bottom: 1rem;
}

.foot-wrapper p{
    line-height: 2;
    letter-spacing: 1px;
}

.foot-wrapper h1{
    margin-bottom: 1rem;
}

.foot-wrapper a{
    color: white;
    text-decoration: none;
    display: block;
    line-height: 2;
    letter-spacing: 1px;
    transition: 0.5s ease;
}

.foot-wrapper a:hover{
    color: #212140;
}

.connect{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.social-icons{
    display: flex;
    justify-content: space-between;
    width: 150px;
    position: absolute;
    height: auto;
    bottom: 50%;
}

.social-icons a{
    background: white;
    border-radius: 50%;
    color: #8C52FF;
    font-size: 1.5rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 2px solid white;
    text-decoration: none;
    margin-top: -3rem;
    z-index: 1;
    transition: 0.5s;
}

.social-icons a:hover{
    background: #212140;
    color: white;
    border: 2px solid #212140;
}

.last-text{
    margin-top: 2.3rem;
    text-align: center;
    font-size: 1rem;
}